<template>
  <div class="app-base-table">
    <RecycleScroller
      class="scroller"
      :items="items"
      :item-size="32"
      key-field="id"
      v-slot="{ item }"
    >
      <div
        @click="onRowClick(item)" 
        class="app-base-table__row">
        {{ item.name }}
      </div>
    </RecycleScroller>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  methods: {
    onRowClick(item) {
      this.$emit('onRowClick', item)
    }
  }
}
</script>

<style lang="scss">
.scroller {
  height: 100%;
  max-height: calc(100vh - 150px);
}
.app-base-table{
  &__row{
     height: 32%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      background: #ececec;
    }
  }
}
</style>