<template>
  <div>
    <div
      v-for="(record, i) in cityManagmentHistoryFiltered"
      :key="i">
      {{ record.name }}
    </div>
  </div>
</template>

<script>
  import store from '@/store'
  import {mapGetters} from 'vuex'

  const handleCurrentHistoryType = (type) => store.commit('history/M_SET_CURRENT_HISTORY_TYPE', type)

  export default {
    computed: {
      ...mapGetters('history', [
        'cityManagmentHistoryFiltered'
      ])
    },
    beforeRouteEnter(to, from, next) {
      handleCurrentHistoryType(to.query.type)
      next()
    },
    beforeRouteUpdate(to, from, next) {
      handleCurrentHistoryType(to.query.type)
      next()
  },
  }
</script>