<template>
  <div class="home">
    <vs-input
        type="search"
        v-model="searchQuery"
        label="Search"
      />
    <div class="cities">
      <div class="cities__container">
        <BaseTable
          v-if="cities && cities.length"

          :items="citiesFiltered"
          @onRowClick="M_ADD_CITY_TO_FAVORITES"
        />
      </div>
      <div class="cities__container">
        <BaseTable
          v-if="favCities && favCities.length"

          :items="favCities"
          @onRowClick="M_REMOVE_CITY_FROM_FAVORITES"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import BaseTable from '@/components/shared/BaseTable'
export default {
  name: 'Home',
  components: {
    BaseTable
  },
  data() {
    return {
      searchCooldownTimerId: null
    }
  },
  computed: {
    ...mapState('cities', [
      'cities',
      'favCities',
      'sQuery'
    ]),
    ...mapGetters('cities', [
      'citiesFiltered'
    ]),
    searchQuery: {
      set(v) {
        clearTimeout(this.searchCooldownTimerId)
        this.searchCooldownTimerId = setTimeout(() => {
          this.M_SET_QUERY(v)
        }, 400)
      },
      get() {
        return this.sQuery
      }
    }
  },
  methods: {
    ...mapMutations('cities', [
      'M_ADD_CITY_TO_FAVORITES',
      'M_REMOVE_CITY_FROM_FAVORITES',
      'M_SET_QUERY'
    ])
  }
}
</script>

<style lang="scss" scoped>
  .cities{
    padding: 25px;
    display: flex;
    &__container{
      width: 50%;
    }
  }
</style>