<template>
  <div class="main" id="app">
    <HeaderNav />
    <router-view/>
  </div>
</template>

<script>
import HeaderNav from '@/components/ui/HeaderNav'
import store from '@/store'
export default {
  components: {
    HeaderNav
  },
  mounted() {
    store.dispatch('cities/A_FETCH_CITIES')
  }
}
</script>

<style lang="scss" scoped>
  .main{
    overflow: hidden;
    padding-top: 50px;
  }
</style>
