<template>
  <vs-navbar 
    center-collapsed 
    v-model="currentPage"
    class="header-nav">
    <template #left>
      <img src="/logo2.png" alt="" />
    </template>
    <vs-navbar-item
      to="/"
      :active="$route.name == 'Home'">
      Главная
    </vs-navbar-item>
    <vs-navbar-item
      to="/history"
      :active="$route.name == 'History'">
      История
    </vs-navbar-item>
    <vs-navbar-item
      to="/history?type=add"
      :active="$route.name == 'History' && $route.query.type === 'add'">
      История добавлений
    </vs-navbar-item>
    <vs-navbar-item
      to="/history?type=remove"
      :active="$route.name == 'History' && $route.query.type === 'remove'">
      История удалений
    </vs-navbar-item>
  </vs-navbar>
</template>

<script>
export default {
  data() {
    return {
      currentPage: 'home'
    }
  }
}
</script>

<style lang="scss" scoped>
  .header-nav{
    a{
      text-decoration: none;
      color: black;
    }
  }
</style>